PORT=3000              # Any port you want
DB_NAME=<username>
DB_HOST=localhost      # PostgreSQL's default
DB_USER=postgres       # PostgreSQL's default
DB_PASSWORD=<password>
DB_PORT=5432           # PostgreSQL's default
LOGGING=true