@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900');

:root {
  font-family: Lexend;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;

  background-color: #043654;
  background-image: linear-gradient(15deg, #092e45 50%, #1772ac 50%);
}

main {
  text-align: center;
  flex: 1 0 auto;
}

header {
  @media (min-width: 600px) {
    padding-block: 1rem;
  }
  @media (min-width: 900px) {
    padding-block: 2rem;
  }
}


#title-container {
  margin: 0 auto;
  text-align: center;
  padding: .75rem;
  
  & > h1 {
    line-height: 1.2;
    color: #fff;
  }

  @media (min-width: 600px) {
    width: fit-content;
    max-width: 80%;
    border-radius: .5rem;
    padding: 1rem;
    background-color: #105079;
  }
  @media (min-width: 768px) {
    max-width: 65%;
    padding: 1.5rem;
  }
  @media (min-width: 900px) {
    max-width: 50%;
  }
}

.item-list {
  width: 100%;
  margin: 0 auto;
  background: white;
  box-shadow: .5rem .5rem 1rem -.5rem rgba(0, 0, 0, 0.5);
  
  @media (min-width: 600px) {
    width: 80%;
    border-radius: .5rem;
    padding: .5rem; /* Needed to get the border-radius to show */
  }
  @media (min-width: 768px) {
    width: 65%;
  }
  @media (min-width: 900px) {
    width: 50%;
  }
 }

.item {
  padding: .2rem;
  border-bottom: 1px solid #f1f1f1;
  list-style: none;
  
  &:last-child {
    border-bottom: 0;
  }
}

.item-content {
  display: flex;
  align-items: center;
}

.del-checkbox {
  width: 1.5rem;
  height: 1.5rem;
  background-color: tomato;
  margin: 1rem;
  cursor: pointer;
}

.edit-form {
  flex-grow: 1;
  text-align: center;
  @media (min-width: 600px) {
    margin-inline: .5rem;
  }
}

textarea {
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: inherit;
  resize: none;
  scrollbar-width: none;

  padding: 0.5rem;
  width: 100%;
  outline: none;
  border: none;
  
  /** This is literally the answer to everying,
  and yet it only has limited availability...!!! */
  field-sizing: content;

  &:focus {
    color: grey;
  }
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

#add-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-form input[type="text"] {
  flex-grow: 1; /* Extends input horizontally. */
  margin-inline: 1rem;
  font-family: Lexend;
  font-weight: 350;
  font-size: 1.25rem;
  color: #092e45;
  text-align: left;
  
  height: 4rem;
  border: none;
  background: transparent;
  width: 80%;

  &:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #1c8bd2;
  }
}

#add-button {
  flex-basis: 1;
  cursor: pointer;
  margin-inline: .5rem;
  /* min-height: 3rem; */
  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  border: none;
  
  font-size: 2rem;
  color: #fff;
  background-color: #105079;

  &:hover {
    background-color: #092e45;
  }
}

footer {
  color: white;
  text-align: center;
  padding-block: 1rem;
}
